@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

/* Responsive */
@media (max-width: 900px) {
  section {
    margin: 0 2rem;
  }

  #profile {
    flex-direction: column;
    height: auto;
  }

  .section__pic-container {
    width: 260px;
    height: 260px;
  }

  .title {
    font-size: 2.2rem;
  }

  .nav-links {
    display: none;
  }

  #hamburger-nav {
    display: block;
  }

  .section-container {
    flex-direction: column;
  }

  .contact-container {
    flex-direction: column;
    gap: 2rem;
  }

  .contact-form button {
    align-self: center;
  }

  .cv-title {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 1rem;
  }
}
